body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    background: #AAAAAA;
}
header h3{
    margin-top: 87px;
    margin-left: 10%;
    font: size 35px; ;
}
.first-section{
    display: flex;
}
article{
    margin-left: 10%;
    width: 50%;
}
article h1{
    font-size: 52px;
    padding: 0px;
    margin-bottom: 0px;
}
button{
    background:goldenrod;
    border-radius: 10px;
    padding: 10px 24px;

}
/* global button
------------------- */
button a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.arrow{
    margin-left: 10px;
}
/* Animation 
----------------. */
.banner-image:hover{
    transform: scale(1.3);
    transition:transform 2s ease-in-out;
}
/* second section start 
----------------------- */
.heading{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 30px;
}
.second-section{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    margin-left: 10%;
    margin-right: 10%; 
    /* align-items: center; */
}
.product{
    width: 329px;
    height: 476px;
    background: #FFFFFF; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px; 
    /* margin: 0px; */
}
.second-section img{
    height: 256px;
    width: 300px;
    border-radius: 5px;
}
.product-name{
    margin: 0px;
}
.star-rating i{
    color: goldenrod;
}
.see-more{
    display: flex;
    width: 80%;
    justify-content: end;
    margin-top: 1.5em;
}
.see-more a{
    text-decoration: none;
    color: #f71165;
}
/* -----------------
footer 
------------------ */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: blanchedalmond;
    background-color: rgb(2, 2, 29);
    margin-top: 250px;
}
#footer-heading{
    margin-top: 50px;
}
.footer-text{
    margin:0px;
}
footer span{
    margin:20px 0px 50px 0px;
}
footer i{
   margin: 0px 16px;
   font-size: 2em;
}
/* end footer 
--------------- */
/* ensure  our best service by marquee
------------------ */
.marquee{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: rgb(72, 72, 248);
    font-size: 30px;
    color: white;
    margin-top: 80px;
    font-weight: 800px;
}
/* log in form 
--------------- */
.form-section{
    margin-left: 5%;
    display: flex;
}
.field-name{
    margin-bottom: 0px;
}
.form-section input{
    height: 1.5em;
    width: 250px;
}
.registration-button{
    margin-top: 20px;
}
#review{
    height: 220px;
    width: 400px;
}
.social-work{
    height: 400px;
    width: 400px;
    border: goldenrod solid 5px;
}
.social-work img{
    height: 400px;
    /* width: 400px; */
}