body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    background: #AAAAAA;
}
header h3{
    margin-top: 87px;
    margin-left: 10%;
    font: size 35px; ;
}
.first-section{
    display: flex;
}
article{
    margin-left: 10%;
    width: 50%;
}
article h1{
    font-size: 52px;
    padding: 0px;
    margin-bottom: 0px;
}
button{
    background:#E02C6D;
    border-radius: 20px;
    padding: 10px 24px;

}
button a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.arrow{
    margin-left: 10px;
}
/* second section start 
----------------------- */
.heading{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 30px;
}
.second-section{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    margin-left: 10%;
    margin-right: 10%; 
    /* align-items: center; */
}
.product{
    width: 329px;
    height: 476px;
    background: #FFFFFF; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px; 
    /* margin: 0px; */
}
.second-section img{
    height: 256px;
    width: 300px;
    border-radius: 5px;
}
.product-name{
    margin: 0px;
}
.star-rating i{
    color: goldenrod;
}
.see-more{
    display: flex;
    width: 80%;
    justify-content: end;
    margin-top: 1.5em;
}
.see-more a{
    text-decoration: none;
    color: #f71165;
}
/* -----------------
footer 
------------------ */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: blanchedalmond;
    background-color: rgb(2, 2, 29);
    margin-top: 250px;
}
#footer-heading{
    margin-top: 50px;
}
.footer-text{
    margin:0px;
}
footer span{
    margin:20px 0px 50px 0px;
}
footer i{
   margin: 0px 16px;
   font-size: 2em;
}
/* end footer 
--------------- */
